
.information{
	width: 100% !important;
}

h2.main_content_title{
	padding-bottom: 20px;
}

.user_suggest_table{
	padding:0px 20px;
	width: 100%;
	margin: 0 auto;
}

.user_suggest_table tr th{
	border-right: 1px solid #e7e7eb;
	font-size: 15px;
}

.user_suggest_table tr th img{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
}

.user_suggest_table tr td{
	width:80%;
	text-align: left;
	padding: 0px 10px;
	font-size: 16px;
	color: #44463B;
}

.user_suggest_table tr td span.time{
	display: block;
	float: right;
	color: #858873;
}


.user_suggest_table tr th span{
	padding-left: 10px;
	padding-top: 5px;
	display: inline-block;
	float: left;
}

.main_content_text{
	border-top: 1px solid #AEB3A6;
}
